header{ 
    background-color: black;
}

body {
    color:black;
    text-align: center;
    background-color: #DAB1DA ;
    
}
.title {
    text-align:center;
    background-color: purple;
    border-style: dotted;
}

.logo{
    height: auto;
}